# Dependency directories
/node_modules
/.pnp
.pnp.js

# Build artifacts
/build
/dist
/.cache

# IDE-specific files and directories
/.idea
/.vscode
*.swp
*.swo

# Log files
*.log

# Environment variables
.env

# Compiled output
*.min.js
*.min.css
*.map.js
*.map.css
