:root {
    --background: #ffffff;
    --text: #000000;
    --card: #e6e7ff;
}

.cards {
    background: var(--background);
    padding: 0 6rem 4rem;
}

h1 {
    text-align: center;
}

.cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;

}

.cards__wrapper {
    position: relative;
}

.cards__items {
}

.cards__item {
    display: flex;
    flex: 1;
    margin: 1rem 1rem;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: var(--card);
    box-shadow: 0 0 20px rgb(149, 156, 248);
    //-webkit-filter: drop-shadow(0 6px 20px rgb(149, 156, 248));
    //filter: drop-shadow(0 6px 20px rgb(149, 156, 248));
    overflow: hidden;
    text-decoration: none;
    border-radius: 25px;
}

.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 30px 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
    background-color: var(--card);
    width: 100%;
    box-sizing: border-box;
}

.cards__item__img {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.cards__item__img:hover {
    transform: scale(1.1);
}

.cards__item__info {
    padding: 20px 30px 30px;
}

.cards__item__text {
    color: var(--text);
    font-size: 20px;
    line-height: 24px;
    font-family: 'Mukta', sans-serif;
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }

}

@media only screen and (min-width: 1024px) {
    .cards__items {
        display: flex;
    }
    .cards {
        padding: 0 4rem 4rem;
    }
}

@media only screen and (max-width: 930px) {
    .cards {
        padding: 0;
    }
    .cards__item {
        margin-bottom: 2rem;
    }
}
