# Dependency directories
/node_modules/
/src/node_modules/
/workspace.xml

# Build artifacts
/build
/dist

# Environment variables
.env

# IDE and editor files
/.vscode
/.idea
*.iml
*.ipr
*.iws
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
